
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Noto+Sans+JP:wght@400;500;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

// btn

a.btn,
button.btn {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-flat {
  overflow: hidden;

  padding: 0.6rem 3rem;

  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-90%) translateY(-25%) rotate(45deg);
  transform: translateX(-90%) translateY(-25%) rotate(45deg);

  background: #00b7ee;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

// btnend

.main{
  background-image: url("../public/img/main.jpg");
  background-size: cover;
  height: 90vh;
  position: relative;
  h2{
    z-index: 3;
    position: absolute;
    font-weight: 600;
    color: #fff;
    font-size: 6rem;
    bottom: 10%;
    left: 5%;
  }
  &::after{
    content: "";
    position: absolute; 
    background-color: rgba($color: #000000, $alpha: 0.2);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
   }
}

.concept{
  display: flex;
  max-width: 1000px;
  margin: 10em auto 0;
  position: relative;
  .concept_text{
    padding: 60px 140px 60px 40px;
    background-color: #195ba9 ;
    color: #fff;
    h3{
      font-family: 'Josefin Sans', sans-serif;
      font-size: 4rem;
      font-weight: bold;
      letter-spacing: 0.005em;
      max-width: 330px;
    }
    .sub{
      font-weight: bold;
      margin-bottom: .5rem;
      max-width: 330px;
    }
    .text{
      font-size: 0.9em;
      max-width: 330px;
      line-height: 1.8;
      margin-bottom: 1em;
    }

  }
  .concept_img{
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    width: 58%;
    height:400px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.service{
  margin-top: 14em;
  background-image: url("../public/img/service.jpg");
  background-position: center center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  position: relative;
  color: #fff;
  h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.005em;
    margin-bottom: 0.3em;
    position: relative;
    z-index: 3;
  }
  .sub{
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1.3em;
    position: relative;
    z-index: 3;
  }
  .text{
    font-size: 0.9em;
    line-height: 1.8;
    margin: 0 auto;
    margin-bottom: 2em;
    max-width: 600px;
    position: relative;
    z-index: 3;
  }
  a{
    position: relative;
    z-index: 3;
  }
  &::after{
    content: "";
    position: absolute; 
    background-color: rgba($color: #195ba9 , $alpha: 0.8);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
   }
}


.contact{
  margin-top: 10em;
  background-image: url("../public/img/service.jpg");
  background-position: center center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  position: relative;
  
  h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.005em;
    margin-bottom: 0.3em;
    position: relative;
    z-index: 3;
    color: #195ba9;
  }
  .sub{
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1.3em;
    position: relative;
    z-index: 3;
  }
  .text{
    font-size: 0.9em;
    line-height: 1.8;
    margin: 0 auto;
    margin-bottom: 2em;
    max-width: 600px;
    position: relative;
    z-index: 3;
  }
  a{
    position: relative;
    z-index: 3;
  }
  &::after{
    content: "";
    position: absolute; 
    background-color: rgba($color: #fff, $alpha: 0.8);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
   }
}

.news{
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
  h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.005em;
    margin-bottom: 0.3em;
    position: relative;
    z-index: 3;
    color: #195ba9;
  }
  ul{
    margin-bottom: 3em;
  }
}


.newstitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.005em;
    margin-top: 1em;
    margin-left: 0.8em;
    color: #195ba9;
    margin-bottom: 1em;
}

.newspage{
  text-align: center;
  max-width:700px;
  margin: 0 auto;
  padding: 1em;
  border: #ebebeb 1px solid;
  margin-bottom: 4em;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.01em;
  box-shadow: 2px 2px 2px rgb(194, 194, 194);
  color: rgb(44, 44, 44);
  .newspagetitle{
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .newspagetime{
    margin-bottom: 0.5em;
  }
  p{
    word-wrap: break-word;
    line-height: 1.8;
    text-align: left;
    letter-spacing: 0.05em;
  }
  img{
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.newspage2{
  text-align: center;
  max-width:1000px;
  margin: 0 auto;
  padding: 1em;
  border: #ebebeb 1px solid;
  margin-bottom: 4em;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.01em;
  box-shadow: 2px 2px 2px rgb(194, 194, 194);
  color: rgb(44, 44, 44);
  .newspagetitle{
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .newspagetime{
    margin-bottom: 0.5em;
  }
  p{
    word-wrap: break-word;
    line-height: 1.8;
    text-align: left;
    letter-spacing: 0.05em;
  }
  img{
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}



@media only screen and (max-width:900px) {
.concept{
  flex-direction: column-reverse;
  margin-top: 40px;
  h3{
    margin-top: 20px;
  }
  .concept_img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    img{
      width: 100%;
    }
  }
}


.main h2 {
  z-index: 3;
  position: absolute;
  font-weight: 600;
  color: #fff;
  font-size: 3rem;
  bottom: 10%;
  left: 5%;
}

.service {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 40px;

}

.concept .concept_text {
  padding: 1em;
}

.news{
  padding: 1em;
}
.contact{
  padding: 1em;
  margin-top: 40px;
  h3{
    padding-top: 0.5em;
  }
}
.newstitle{
  margin-left: 0;
  text-align: center;
}
}


@media only screen and (max-width:500px) {
  .main h2 {
    font-size: 2rem;
    bottom: 30%;
  }
  
}




// menu

.openbtn1{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  background:#57a2c7;
  cursor: pointer;
    width: 50px;
    height:50px;
  border-radius: 5px;
}

/*ボタン内側*/
.openbtn1 span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background: #fff;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;/*真ん中の線は透過*/
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
